---
eleventyComputed: metadata.title
layout: layouts/home.njk
eleventyNavigation:
  key: Beranda
  order: 1
---
{% set maxPosts = collections.posts.length | min(200) %}
<p>Total {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} produk{% endif %}</p>
{% set postslist = collections.posts | head(-200) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
