<ul reversed class="productlist">
{% for post in postslist | reverse %}
  <li class="productlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <p>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</p>
    <p>Harga {{ post.data.description }}</p>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}" >{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ul>
